[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
arrow = "*"

[dev-packages]
pylint = "*"
black = {git = "https://github.com/psf/black.git"}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
